* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 17px;
}
h4 {
  margin-bottom: 20px;
}
h2 {
  margin-bottom: 20px;
}
.container {
  max-width: 400px;
  text-align: center;
  margin: 70px auto;
  padding: 70px;
  /* font-family: 'Courier New', Courier, monospace; */
  border-radius: 8px;
  box-shadow: 3px 2px 10px rgb(169, 169, 169);
}
#email {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dbd6d6;
  box-shadow: 0 0 5px rgba(70, 117, 229, 0.5);
}
.btn-div{
  margin-top: 15px;
}
.btn {
  color: white;
  background-color: rgb(70, 149, 229);
  padding: 8px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 15px;
}
.btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
@media (max-width:610px)
{
  .container{
    margin: 50px 30px;
    box-shadow: none;
  }
}
@media (max-width:420px)
{
  .container{
    margin:70px  0;
    padding: 50px 25px;
  }
  h2 {
    margin-bottom: 11px;
}
}
